[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	branch = master
	ignore = dirty
[submodule "oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git 
	branch = master
	ignore = dirty
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	branch = master
	ignore = dirty
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
	ignore = dirty
